@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

*{
    margin: 0px;
    width: 100vw;
    height: auto;
    font-family: 'Inter', sans-serif;
    background-color: aquamarine;
    text-align: center;
    margin: 30px;
}

body{
    border: 2px solid black !important;
    width: auto;
    height: auto;
}

h1,h2{
    width: max-content;
    height: auto;
}
